.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    color: #474955;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
}

.active {
    color: #7EBC3C;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #474955;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .item {
        padding: 5px;
        font-size: 12px;
    }
    .btn {
        font-size: 14px;
        line-height: 21px;
    }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
    .item {
        padding: 3%;
        font-size: 10px;
    }
    .btn {
        font-size: 12px;
        line-height: 18px;
    }
}