.container {
    width: 631px;
    height: 52px;
    margin: 23px 0 15px 78px;
    background: #5A5C66;
    position: relative;
}

.img {
    width: 21px;
    height: 21px;
    color: #ffffff;
    position: absolute;
    top: 15px;
    right: 16px;
}

.input {
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 100%;
    padding: 18px 55px 15px 26px;
    height: 52px;
    border: 1px solid #5A5C66;
    color: #B2B7BF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    transition: all ease-in-out 0.35s;

    &:focus {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    &:hover {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    &:active {
        color: #ffffff;
        border: 1px solid #5A5C66;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 500px;
        height: 42px;
        margin: 15px auto;
    }
    .img {
        width: 12px;
        height: 12px;
        top: 12px;
        right: 12px;
    }
    .input {
        height: 42px;
        padding: 15px 40px 15px 20px;
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 300px;
        height: 35px;
        margin: 15px auto;
    }
    .img {
        width: 15px;
        height: 15px;
    }
    .input {
        height: 35px;
        padding: 10px 35px 10px 10px;
        font-size: 10px;
        line-height: 15px;
    }
}